/* '''logo''' */

:root {
    --red: red;
    --pink: rgb(237, 78, 110) !important;
    --black: rgba(0, 0, 0, 0.3);
    --black__text: rgb(128, 126, 126);
    --white: white;
    --black-0: rgb(0, 0, 0);
    --blue: blue;
}

body {
    font-family: 'Signika Negative', sans-serif;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

i {
    color: var(--pink);
}

.white-backgroud {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}


/* ========== Menu ============= */

.menu-context {
    width: 50%;
}

.toggle {
    cursor: pointer;
    justify-content: flex-end;
}

.navbar-toggler-icon {
    display: none;
}


/* .na_contact {
    position: relative;
    display: flex;
    justify-content: flex-end;
 
} */

.nav--bar:focus {
    background-color: var(--pink);
}

.nav--bar {
    width: 5rem;
    margin: 2px;
}

.nav--bar:hover {
    border: 1px solid var(--pink);
    color: var(--pink);
    background-color: var(--pink);
    border-radius: 5px;
}

.is-visible {
    color: var(--pink);
}

.logo--me:hover {
    color: var(--red);
    margin-top: -2px;
    transition: 0.5s;
}

.logo--footer {
    font-size: 40px;
}

.navbar_fix {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgb(255, 255, 255);
}

.profile_img {
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border: 2px solid black;
    /* animation: profile_img 2s linear infinite; */
}


/* 
@keyframes profile_img {
    30% {
        border-left: 4px solid red;
    }
    60% {
        border-bottom: 4px solid red;
    }
    90% {
        border-right: 4px solid red;
    }
    12% {
        border-top: 4px solid red;
    }
} */

.rounded {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.auto-type {
    color: var(--pink);
}

.cont--mebox {
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.cont--me {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--black);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    animation: contect-me 3s linear infinite;
}

.cont--me:hover {
    width: 100%;
    box-shadow: inset 200px 0 0 0 var(--pink);
    border: 1px solid var(--pink);
}

.cont--me {
    color: var(--black);
    animation: contect-me 3s linear infinite;
}

.text--text {
    background: radial-gradient(circle, rgb(0, 0, 0) 28%, rgb(3, 3, 3) 53%, rgb(255, 22, 255) 100%) var(--c, 0%)/200% 100%, radial-gradient(circle, rgb(250, 44, 222) 28%, rgb(8, 8, 8) 53%, rgb(0, 0, 0) 100%) 0% 100%/var(--c, 0%) 0.1em no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .5s;
    color: black;
}

.text--text:hover {
    padding-top: -1px;
    color: var(--pink);
    animation: textTop 1s;
    --c: 100%;
}

@keyframes contect-me {
    0% {}
    35% {
        transform: translate(0px, -10px) rotate(0deg);
        opacity: 0.5;
        color: var(--red);
    }
}

.nav_contact li {
    margin-top: 0rem;
    animation: menulist 1s linear;
}

@keyframes menulist {
    0% {
        opacity: 0;
        transform: translate(0px, -5px) rotate(0deg);
        color: var(--red);
        margin-top: -3rem;
        transition-delay: calc(0.1s * var(--i));
    }
    10% {
        transform: translate(0px, -5px) rotate(0deg);
        color: var(--red);
        margin-top: -2.7rem;
    }
}

.picture-profile {
    animation: pic-profile 1s;
}

@keyframes pic-profile {
    0% {
        transform: translate(0, 100px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

marquee {
    color: var(--pink);
}


/* ========= img hover ====== */

.img--hover {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
}

.img--hover img {
    width: 100%;
    transition: 0.1s ease-in-out;
}

.img--hover:hover img {
    transform: scale(.1px);
}

.hover2:hover {
    transform: scale(1.3);
}


/* ======== i AM a ========== */

.container--text {
    width: 246px;
    overflow: hidden;
}

.auto-type {
    position: relative;
}

.auto-type:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-left: 2px solid var(--red);
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%,
    60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}


/*  ======what i do============= */

.wh--do {
    height: 15rem;
}

.rn-service {
    border-radius: 5px;
    transition: .2s ease-in-out, .2s ease-in-out;
}

.rn-service:hover {
    color: rgb(148, 125, 125);
    box-shadow: inset 0px 50px 0px 0px var(--pink);
}

.rn-service:hover #do-name {
    cursor: pointer;
}

.rn-service:hover #do-name {
    color: var(--white);
}

.rn-service:hover .drt {
    cursor: pointer;
}

.rn-service:hover .drt {
    color: rgb(87, 87, 87);
}

.drt {
    color: var(--black__text);
}

.bi-arrow-right {
    opacity: 0;
}

.rn-service:hover .bi-arrow-right {
    opacity: 1;
    color: red;
    animation: rigtht 1s;
}

@keyframes rigtht {
    0% {
        transform: translate( -100px);
    }
}

.icon-img {
    width: 2rem;
    height: 2rem;
}


/* portlio  */

.por--logo {
    color: var(--pink);
    margin-top: 1rem;
}

.por--text {
    color: var(--pink);
}

.por--text:hover {
    color: var(--white);
}

.category-info {
    display: flex;
    justify-content: space-between;
}

.content_port {
    margin-left: 5rem;
}

.Portfolio_Images2 {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-top: 2rem;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 3.2rem;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    z-index: 1px;
}

.educate_display {
    display: none;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}


/* ---------resume --------- */

.resume--box {
    border-radius: 5px;
    background: radial-gradient(circle, var(--pink) 28%, var(--pink) 53%, var(--pink) 100%) var(--c, 0%)/200% 100%, radial-gradient(circle, var(--pink) 28%, var(--pink) 53%, var(--pink) 100%) 0% 100%/var(--c, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .5s;
}

.resume--box:hover {
    --c: 5%;
}

.resume--box:hover .description {
    color: rgb(46, 46, 46);
}

.description {
    color: var(--black__text);
}

.footer--logo {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 45px;
}

.contact,
.blog,
.pricing,
.resume,
.portfolio {
    margin-top: 5rem;
}

.section-title {
    height: 10rem;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.progress-charts {
    margin-bottom: 3rem;
}


/* .progress-bar {
    background-color: var(--pink);
    height: 12px;
    margin-top: 2px;
    animation: 2s skill;
}

@keyframes skill {
    0% {
        width: 0px;
    }
}

.educate_class {
    animation: 1s education;
    opacity: 1;
}

.educate_class2 {
    animation: 2s education2;
    opacity: 1;
}

@keyframes education {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes education2 {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
}

.eperience_animation {
    animation: 1s eperience_ani;
    opacity: 1;
} */


/* @keyframes eperience_ani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
} */


/* =========================== */

.cours2 {
    margin-top: 30px;
    position: relative;
    border-radius: 5px;
}

.cours3 {
    border-bottom: 1px solid var(--red);
    position: absolute;
    top: -100px;
    opacity: 0;
    background-color: var(--black);
    color: white;
    padding-top: 65%;
    margin-left: -.7rem;
}

.cours2:hover .cours3 {
    opacity: 1;
    top: -40px;
    transition: 1s;
    border-radius: 5px;
}

.cours4 {
    position: relative;
    margin-top: 35px;
    border: 1px solid var(--red);
    padding: 2px;
    height: 40px;
    opacity: 0;
    bottom: -50px;
    border-radius: 5px;
}

.cours2:hover .cours4 {
    opacity: 1;
    bottom: 0px;
    transition: 1s;
}

.cours2:hover .hover {
    transform: scale(1.1);
    transition: .2s;
}

.cou {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    background-color: var(--pink);
}

.cou:hover {
    background-color: transparent !important;
    color: var(--pink) !important;
}

.i--do,
.blog--box {
    margin: 1px;
    border-radius: 5px;
}

.ff {
    color: #f1f1f1;
}

.send--form {
    width: 5rem;
    height: 2rem;
    margin-top: 2rem;
    border: 1px solid var(--black);
    background-color: var(--pink);
    transition: 0.2s;
    color: var(--white);
    border-radius: 5px;
    padding: 2px;
}

.send--form:hover {
    background-color: var(--black);
    border: 1px solid var(--pink);
    color: var(--pink);
}


/* award */

.carousel-item {
    width: 100%;
}

.img--slide {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .menu-context {
        width: 100%;
    }
    .navbar-toggler-icon {
        display: block;
    }
    .container-fluid {
        background-color: rgb(255, 255, 255);
        color: red;
    }
    .navigation li {
        height: 2rem;
        background-color: var(--black);
        color: red;
        justify-content: flex-end;
    }
    .navigation {
        position: fixed;
        margin-top: 20rem;
    }
    .nav_contact li {
        position: relative;
        transition: 0.5s;
        transform: translate(-256px);
        transition-delay: calc(0.1s * var(--i));
    }
    .navigation.active .nav_contact li {
        visibility: visible;
        opacity: 1;
        transform: translate(0px);
    }
    .toggle.active .navigation {
        transform: translate(0px);
    }
    .navbar_fix {
        width: 100%;
        top: 0;
        background-color: rgb(255, 255, 255);
    }
    .category-info {
        margin-top: 2rem;
    }
    .por--logo {
        margin-left: -4rem;
    }
    .wh--do,
    .blog--m {
        margin-bottom: 1rem;
    }
    .cours3 {
        padding-top: 47%;
    }
}