{%extends 'backend/dashbord/bashbord.html' %}{%load static%}{% block navsetting %}



<body>
    <div class="container   center ">
        <!-- <a href="{%url 'dashbord' %}"><i class="bi bi-arrow-left-short fs-2"></i></a> -->



        <div class="col-lg-6 position-absolute top-50 start-50 translate-middle shadow-sm  p-md-4">
            <a href="{%url 'lock' %}"><i class="bi bi-arrow-left-short fs-2"></i></a>

            <p>Please nter your new password</p>
            <br> <br>
            <form method="POST">
                {% csrf_token %} {{form.as_p}}

                <button class="btn btn-primary" type="submit" value=" Change your password">Save change</button>
            </form>
            <br>
            <br>
            <ul>
                <li>
                    Your password can’t be too similar to your other personal information.
                </li>

                <li>
                    Your password must contain at least 8 characters.
                </li>
                <li>
                    Your password can’t be a commonly used password.
                </li>
                <li>
                    Your password can’t be entirely numeric.
                </li>

            </ul>
        </div>

    </div>
</body>{%endblock%}