<!DOCTYPE html>

<html lang="en">

<head>
    {%load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <title>My new Profile</title>

</head>

<body>

    <div class="container m-auto">


        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div>
                <h3 class="text-xl mb-2">My New Profile</h3>
            </div>
            <div class="bg-white shadow-sm  col-span-2">
                <div class="icon--cancel mt-2 bg-dark ">
                    <a href="{%url 'myprofileFix' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill=" currentColor " class="bi bi-x-lg " viewBox="0 0 16 16 ">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z "/>
                  </svg></a>

                </div>
                <form class="row m-5 pt-xl-5" action="{% url 'profileForm' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- <div class="col-lg-6 mb-5">
                        <label for=""> Profile Image</label>
                        <input type="file" id="image_input" name="profile_pic" class="shadow-none " accept="image/jpg, iamge/png" required>
                        <div id="display_image" class="mt-4" style="width: 150px; height: 200px; object-fit: cover; border: 1px solid black; background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                    </div>
                    <div class="mb-3 ">
                        <label for=" "> First name</label>
                        <input type="text " name="name" placeholder="Your name.. " class="form-control " required>
                    </div>
                    <div class="mb-3 ">
                        <label for=" "> Last name</label>
                        <input type="text " name="lastname" placeholder="last name.. " class="form-control " required>
                    </div>
                    <div class="mb-3 ">
                        <label for=" "> Email</label>
                        <input type="email " name="email " placeholder="Example@gmail.com " class="form-control " required>
                    </div>
                    <div class="mb-3 ">
                        <label for=" ">phone</label>
                        <input type="text " name="phone" class="form-control ">
                    </div>
                    <div class="mb-3 ">
                        <label for=" "> Location</label>
                        <input type="text " name="location" name="location " value=" " class="form-control " required>
                    </div>

                    <div class="mb-3 ">
                        <label for="about ">Bio</label>
                        <textarea id="about " name="explain_me" value=" " rows="3 " class="form-control " required></textarea>
                    </div> -->

                    {{forms}} {% for masage in messages%}
                    <h7 style="color: rgb(255, 37, 37); ">{{masage}}</h7>
                    {% endfor %}
                    <div class="mb-5 ">



                    </div>

                </form>

            </div>

        </div>
    </div>

    <style>
        .c--s {
            border: none;
            font-size: 20px;
            background: none;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{%static 'js/profile.js' %}"></script>
</body>



</html>

</html>