<!doctype html>
<html lang="en" class="dark">


<head>
    {%load static%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/darkmode.css' %}"> -->
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" href="{%static 'css/loading.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>My website</title>
    <style>
        .tee {
            color: rgb(128, 126, 126);
        }

        .btnb {
            font-size: 15px;
        }

        .nav-link:hover {
            color: black;
        }

        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 7.5rem;
            background-color: rgb(255, 255, 255);
            font-size: 20px;
            z-index: 1px;
        }

        .color-gray {
            color: gray;
        }
    </style>

</head>


<body>

    <div class="laoding">
        <div class="bounceball"></div>
        <div class="text">NOW LOADING..</div>
    </div>

    <!-- profile -->
    <!--  dark mode code -->

    <!-- <div id="container" class="container">
            <div>
                <div class="icon-container">
                    <div id="icons" class="icons">
                        <div id="icon2" class="icon icon2">
                            <i class="fas fa-sun" id="swap-btn" onclick="toggleTheme('light');"></i>
                        </div>
                        <div id="icon1" class="icon icon1">
                            <i class="fas fa-moon" id="swap-btn1" onclick="toggleTheme('dark');"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
    {%for profi in profile%}
    <div class="container ">

        <div class="row">

            <div class="col-lg-14 text-right" style="padding-top: 5%; padding-left: 10%;">

                <h1>Hello, I am <span style="color: rgb(237, 78, 110);;">Yao VA</span> </h1>


                <p class="color-gray"><span style="background-color: rgba(128, 128, 128, 0.205);">Welcome to my portfolio.</span> Here you can find some of the projects I've worked on and my professional journey.</p>
                <div class="m-4">
                    <p class="col-lg-7 mt-2  color-gray"  ><span class="m-2 ">I'm a</span><span class="auto-type "></span> <span  style="color: gray;"> 
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;development encompasses both frontend and backend tasks, using technologies like HTML, CSS, JavaScript for user interfaces, and Node.js, Python, or Java for server-side logic and databases. It ensures cohesive and efficient web applications. -->
                    </span></p>

                    <p class="mt-2 color-gray"><b><i class=" bi-telephone-fill"></i></b> +856 2098009597</p>

                    <p class="color-gray"><b><i class=" bi-envelope"></i></b> odxyo54@gmail.com </p>
                    <p class="color-gray"><b><i class=" bi-geo-alt"></i></b> Donkoi village, Sisattanak district,
                        Vientiane Capital, Laos </p>
                </div>

                <div class="mb-4">
                    <br>
                    <button onclick="document.getElementById('contect').style.display='block'"
                        class="w3-button nav-link cont--me">CONTACT ME</button>
                </div>
                

            </div>
        </div>
    </div>


    {%endfor%}
    <!-- {%for profi in profile%} -->
    <!-- navbar-expand-lg -->
    <nav class=" navbar-light navbar_fix   mt-3" style=" padding-left: 5%; z-index: 2;">
        <div class="navbar container-fluid ">
            <a class="navbar-brand" href="{%url 'myImage' %}">
                <img src="{{profi.profile_pic.url}} " alt="image " class="profile_img "
                    style="margin-left: 2rem; border-radius: 4px;">
                <p class="text-center" style="font-size: 12px; padding-left: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photos
                </p>
            </a>

            <ul class="nav me-auto mb-lg-0 ">
                <li class="nav">
                    <a class="nav-link logo--me " aria-current="page " target="_blank"
                        href="https://github.com/ayaoVA01"><i class=" bi-github  logo--me"></i></a>
                </li>
                <li class="nav">
                    <a class="nav-link logo--me " aria-current="page " target="_blank"
                        href="https://www.youtube.com/channel/UCeKoCMKou4WZ5T2hFaySZWg"><i
                            class=" bi-youtube  logo--me"></i></a>
                </li>
                <li class="nav">
                    <a class="nav-link logo--me " aria-current="page " target="_blank"
                        href="https://www.facebook.com/txntsg.jelve"><i class="fa-brands fa-facebook  logo--me"></i></a>
                </li>
                <li class="nav">
                    <a class="nav-link logo--me " aria-current="page " href="# "><i
                            class="fa-brands fa-whatsapp  logo--me"></i></a>

                </li>

                <li class="nav">
                    <a class="nav-link logo--me " href="#" aria-current="page"><i class=" bi-tiktok  logo--me"></i></a>
                </li>

            </ul>

        </div>
        <!--  menu code -->
        <div class="box_menu " id="box_menu" data-bs-toggle="popover">
            <ul class="nav" role="menubar"
                style="display: flex; border-bottom: .5px solid rgb(197, 197, 197); margin-top: -20px;">
                <li class=" nav-item ">
                    <a class=" btn tee " id="nav__close" href="#i_do">I_Do</a>
                </li>
                <li class="nav-item ">
                    <a class=" btn tee " href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item ">
                    <a class="btn tee " href="#resume">Resume</a>
                </li>
                <li class="nav-item " role="none">
                    <a class=" btn tee " href="#award">Award</a>
                </li>
                <li class="nav-item ">
                    <a class=" btn tee " href="#blog">Blog</a>
                </li>
                <li class="nav-item ">
                    <a class=" btn tee " href="#contact">contact</a>
                </li>
            </ul>

        </div>


    </nav>
    </div>

    <!-- {%endfor%} -->


    <div class="w3-container " style="z-index: 3;">

        <div id="contect" class="w3-modal">
            <div class="w3-modal-content w3-animate-top contact">
                <header class="w3-container " style="background-color: rgb(237, 78, 110);">
                    <span onclick="document.getElementById('contect').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <h2 class="text-white">Please Send Message to me</h2>
                </header>
                <div class="w3-container ">
                    <form class="row" id="contact-form " method="POST" action="{% url 'send_whatsapp_message' %} "
                        enctype="multipart/form-data ">
                        {% csrf_token %}
                        <div class="col-lg-6 ">
                            <div class="form-group ">
                                <label for="contact-name ">Name</label>
                                <input class="form-control " name="name" id="contact-name " type="text" required>
                            </div>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group ">
                                <label for="contact-phone ">Whatsapp number</label>
                                <input class="form-control " name="phone" id="contact-phone " type="text" required>
                            </div>
                        </div>

                        <div class="col-lg-12 ">
                            <div class="form-group ">
                                <label for="message">Your Messages</label>
                                <textarea class="form-control form-control-sm " name="message" id="contact-message"
                                    cols="53 " rows="6 " required></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 ">
                            <button type="submit" class="rn-btn send--form mb-2">
                                <span>Send</span>
                                <i data-feather="arrow-right"></i>
                            </button>

                        </div>
                        <p style="font-size: 12px; color: gray;">Your message will be sent to me on WhatsApp. Please
                            provide your WhatsApp number!</p>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <script>

        const list = document.querySelectorAll('.tee');

        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('active'));
            this.classList.add('active')
        }
        list.forEach((item) => item.addEventListener('click', activeLink));
        // time

        // image view 
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
        }

        // menu hite
        var modal1 = document.getElementById('box_menu');

        // Get the modal
        var modal = document.getElementById('contect');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>


    <!-- what i do  -->

    <div class="container text-center " id="i_do">
        <br><br>
        <div class=" ">
            <div class="col-lg-12 ">
                <div class="section-title ">
                    <span class=" ">Features</span>
                    <h2 class=" ">What I Do</h2>
                </div>
            </div>
        </div>

        <div class="text-center row  ">
            <!-- start -->

            {%for p in i_do%}

            <div class="col-lg-5 col-xl-4 col-md-6 col-13 p-4 box--hover ">
                <img style="width: 3rem; height: 3rem;object-fit: cover;margin-bottom: 1rem;" src="{{p.icons.url}} "
                    alt="icon ">

                <div class="shadow-sm text-center white-backgroud ">
                    <div class="inner rn-service ">

                        <div class="content wh--do ">
                            <h4 class="title ">
                                <a href="{%url 'detail' p.job_name%}" id="do-name"
                                    class="nav-link por--text pt-3 ">{{p.job_name}}</a>
                            </h4>
                            <p class="drt p-3 ">{{p.job_dsp}}</p>
                        </div>

                        <a class="read-more-button " href="# ">
                            <svg xmlns="http://www.w3.org/2000/svg " width="26 " height="26 " fill="currentColor "
                                class="bi bi-arrow-right " viewBox="0 0 16 16 ">
                                <path fill-rule="evenodd "
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z " />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>{%endfor%}

            <!-- endb</a>ox -->

        </div>

    </div>

    <!--  Portfolio-->

    <div class="container portfolio " id="portfolio">
        <br><br>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="section-title text-center ">
                    <span class="subtitle ">Visit my portfolio and keep your feedback</span>
                    <h2 class="title ">My Portfolio</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% for portl in port%}
            <div class="col-lg-4 col-xl-3 col-md-6 col-12 ">
                <div class="inner shadow-sm cours2 white-backgroud box--hover " style="overflow:hidden; ">
                    <div class="text-center img--hover ">
                        <a href="{% url 'portfolio' portl.id %} ">
                            <img src="{{portl.port_pic.url}} " alt="Portfolio Images " class="Portfolio_Images2 hover ">
                        </a>
                    </div>
                    <div class=" ">

                        <div class="category-info m-lg-4 ">
                            <a href="{% url 'portfolio' portl.id %} "
                                class="nav-link text--text ">{{portl.name_work}}</a>
                            <span class="value_like"><a href="#"><i
                                        class="fa-regular fa-heart logo_like"></i></a></span>
                        </div>
                        <div class="cours4 col-12 text-center ">
                            <a href="{% url 'portfolio' portl.id %} " class="nav-link cou ">View<i
                                    class="fa-solid fa-arrow-up "></i></a>
                        </div>
                    </div>
                </div>
            </div>{%endfor%}

        </div>



    </div>

    <!--  resume  -->
    <br>
    <br>

    <div class="container text-center resume " id="resume">
        <br><br>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="section-title text-center ">
                    <span class="subtitle " style="color: gray;">Studying Bachelor's degree</span>
                    <h2 class="title ">Resume</h2>
                </div>
            </div>
        </div>

        <div class="col-lg-12 " id="resume_box ">
            <div class="sticky" style="z-index: 1;">
                <ul class="nav nav-tabs">
                    <li class="nav-item nav-tabs " role="presentation ">
                        <button class=" resum--tab tee btnb nav-link active" id="information-tab" data-bs-toggle="tab"
                            data-bs-target="#information" type="button" role="tab" aria-controls="information ">Infomation</button>  
                    </li>
                    <li class="nav-item nav-tabs " role="presentation ">
                        <button class=" resum--tab tee btnb nav-link " id="education-tab" data-bs-toggle="tab"
                            data-bs-target="#education" type="button" role="tab"
                            aria-controls="education ">Education</button>
                    </li>
                    <li class="nav-item " role="presentation ">
                        <button onclick="myFunctiond()" class=" resum--tab tee btnb nav-link" id="skill-tab"
                            data-bs-target="#skill" data-bs-toggle="tab" type="button " aria-controls="skill"
                            aria-selected="false "> Skills</button>
                    </li>
                    <li class="nav-item " role="presentation ">
                        <button class=" resum--tab tee btnb nav-link" id="experience-tab" data-bs-target="#experience"
                            data data-bs-toggle="tab" type="button " aria-controls="experience "
                            aria-selected="false ">Experiences</button>
                    </li>
                    <li class="nav-item " role="presentation ">
                        <button class=" resum--tab tee btnb nav-link" id="language-tab" data-bs-target="#language"
                            data data-bs-toggle="tab" type="button " aria-controls="language"
                            aria-selected="false ">Languages</button>
                    </li>

                </ul>
            </div>




            <div class="row tab-content " id="myTabContent">
                <!-- ----------------Personal information -------->

                <div class="tabcontent tab-pane fade show active education--d-flex " id="information" role="tabpanel "
                    aria-labelledby="information-tab">

                    <div class="col-lg-12 row  m-4 color-gray" style="text-align: start;">
                        <div class="col-lg-2" style="margin-left: 1rem;">
                            <p><b>Age: </b>21 Years old</p>
                            <p><b>Gender: </b>Male</p>
                            <p><b>Weight: </b>55 KG</p>
                        </div>
                        <div class="col-lg-2" style="margin-left: 1rem;">
                            <p><b>Height: </b>1.65 m</p>
                            <p><b>Nationality: </b>Lao</p>
                            <p><b>Ethnicity: </b>Hmong</p>
                        </div>
                        <div class="col-lg-5" style="margin-left: 1rem;">
                            <p><b>Religion: </b>Chirstain</p>
                            <p><b>Talent: </b>Friendly, artist(Piano, guitar...)</p>

                        </div>
                    </div>
                </div>

                <!-- .....--------------Education------------ -->
                <div class="tabcontent tab-pane fade show education--d-flex " id="education" role="tabpanel "
                    aria-labelledby="education-tab ">
                    <div class="d-flex" id="educate ">
                        <div class="education--w">

                            <div data-aos-once="true " class=" col-md-12 educate_class ">
                                <h4 class="maintitle ">Education</h4>
                                <span class="subtitle ">2009-2010</span>
                                <div class=" shadow-sm m-3 p-1 resume--box white-backgroud box--hover">
                                    <div class="resume-single-list m-5 ">
                                        <div class="inner ">
                                            <div class="heading ">
                                                <div class="title ">
                                                    <h5 class="color-gray"><b>Kindergarten</b></h5>
                                                    <span class="description " style="font-size: 12px;">Naxaythong
                                                        school, Naxaythong Village, Xay district, Oudomxay
                                                        Province.</span>
                                                </div>
                                                <!-- <div class="date-of-time ">
                                                    <span>4.30$/1</span>
                                                </div> -->
                                            </div>
                                            <br>
                                            <p class="description ">This is the first time I've ever attended school and
                                                I didn't know why I should attend school at that time because I was
                                                still a baby, all I knew was that I had to go and do as my parents told.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ------ -->
                                <span class="subtitle ">2010-2014</span>
                                <div class=" shadow-sm m-3 p-1 resume--box white-backgroud box--hover">
                                    <div class="resume-single-list m-5 ">
                                        <div class="inner ">
                                            <div class="heading ">
                                                <div class="title ">
                                                    <h5 class="color-gray"><b>Primary School</b></h5>
                                                    <span class="description " style="font-size: 12px;">Naxaythong
                                                        school, Naxaythong Village, Xay district, Oudomxay
                                                        Province.</span>
                                                </div>
                                            </div>
                                            <br>
                                            <p class="description ">I was a really obstinate child at that time, But
                                                However as far as I can recall, I had a higher grade than my classmates.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ------ -->

                                <span class="subtitle ">2015-2021</span>
                                <div class=" shadow-sm m-3 p-1 resume--box white-backgroud box--hover">
                                    <div class="resume-single-list m-5 ">
                                        <div class="inner ">
                                            <div class="heading ">
                                                <div class="title ">
                                                    <h5 class="color-gray"><b>Secondary school</b></h5>
                                                    <span class="description " style="font-size: 12px;">MuengXay
                                                        secondary school, Xay district, Oudomxay Province.</span>
                                                </div>
                                            </div>
                                            <br>
                                            <p class="description ">That is the period when I should concentrate on
                                                learning, playing, making friends, and showing off my skills.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ------ -->
                                <span class="subtitle ">2021-2024</span>
                                <div class=" shadow-sm m-3 p-1 resume--box white-backgroud box--hover">
                                    <div class="resume-single-list m-5 ">
                                        <div class="inner ">
                                            <div class="heading ">
                                                <div class="title ">
                                                    <h5 class="color-gray"><b>Diploma degree</b></h5>
                                                    <span class="description " style="font-size: 12px;">Lao-Korean
                                                        college, Sikhottabong, Vientiane Capital</span>
                                                </div>
                                            </div>
                                            <br>
                                            <p class="description ">Computer science (8:00–11:30 AM) I attend LKC
                                                (Lao-Korean College) and (1:00-7:30 PM) study at iATER center (Institute
                                                of Advanced Technology Education & Research) Monday – Friday.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ------ -->

                            </div>
                        </div>

                        <div class="col-lg-6 education--d-flex">

                            <div data-aos-once="true " class="col-md-12 col-12 educate_class2">
                                <h4 class="maintitle ">Job</h4>
                                <span class="subtitle ">2020</span>
                                <div class=" shadow-sm m-3 p-1 resume--box white-backgroud box--hover ">
                                    <div class="resume-single-list m-5 ">
                                        <div class="inner ">
                                            <div class="heading ">
                                                <div class="title ">
                                                    <h5 class="color-gray"><b>Teach musi</b>c</h5>
                                                    <span class="description " style="font-size: 12px;">Piano,
                                                        Guitar</span>
                                                </div>
                                                <div class="date-of-time description ">
                                                    <span>1.000.000 kip/month</span>
                                                </div>
                                            </div>
                                            <br>
                                            <p class="description ">I also enjoy teaching younger people about what I
                                                know and sharing it with those who need or enjoy it as much as I do.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ---------- -->
                                <span class="subtitle ">2021-present</span>
                                <div class=" shadow-sm m-3 p-1 resume--box white-backgroud box--hover ">
                                    <div class="resume-single-list m-5 ">
                                        <div class="inner">
                                            <div class="heading ">
                                                <div class="title ">
                                                    <h5 class="color-gray"><b>Teaching IT beginning</b></h5>
                                                    <span class="description " style="font-size: 12px;">Piano,
                                                        Guitar</span>
                                                </div>
                                                <div class="date-of-time description ">
                                                    <span>1.500.000 kip/month</span>
                                                </div>
                                            </div>
                                            <br>
                                            <p class="description ">On Thursdays (1:30-4:00 PM), I teach IT to students
                                                in kindergarten 3 and elementary schools 1 and 2. Since English is used
                                                for communication, it's a good chance for me to enhance my speak and
                                                English skills.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .....--------------skill------------ ------>
                <div class="tabcontent tab-pane fade show  education--d-flex " id="skill" role="tabpanel"
                    aria-labelledby="skill-tab ">
                    <div style="text-align: start; padding-left: 2rem;"><br>
                        <h4 class="color-gray"><b>Front-End</b></h4>
                    </div>
                    <div class="row color-gray">
                        <!-- bfront end skill -->
                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">HTML</h6>
                            <!-- <div class="progress-wrapper ">
                                <div class="content ">
                                    <div class="progress-charts ">
                                        <div class="progress ">
                                            <div id="aak" class="progress-bar"  data-wow-duration="0.5s "
                                                data-wow-delay=".3s" role="progressbar " aria-valuenow="85 "
                                                aria-valuemin="0 " aria-valuemax="100"><span
                                                    class="percent-label "></span></div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-1 box--hover ">
                            <h6 class="heading heading-h6 ">CSS</h6>

                        </div>
                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">JavaScript</h6>

                        </div>
                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">Bootstrap</h6>

                        </div>

                    </div>
                    <!-- back end skill -->
                    <div style="text-align: start; padding-left: 2rem;"><br>
                        <h4 class="color-gray"><b>Back-End</b></h4>
                        <h6 class="color-gray"> <b>• Programming Language for Website</b> </h6>
                    </div>
                    <div class="row color-gray">

                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">Python</h6>

                        </div>
                        <div class="col-lg-1 box--hover ">

                            <h6 class="heading heading-h6 ">PHP</h6>
                        </div>
                        <div class="col-lg-1  box--hover ">

                            <h6 class="heading heading-h6 ">JavaScript</h6>
                        </div>
                        <div class="col-lg-1  box--hover ">

                            <h6 class="heading heading-h6 ">REACT</h6>
                        </div>

                    </div>

                    <div style="text-align: start; padding-left: 2rem;"><br>

                        <h6 class="color-gray"><b>• Frameworks</b> </h6>
                    </div>
                    <div class="row color-gray">

                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">Django</h6>

                        </div>
                        <div class="col-lg-1 box--hover ">
                            <h6 class="heading heading-h6 ">Node.js</h6>

                        </div>
                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">Next.js</h6>

                        </div>
                    </div>

                    <div style="text-align: start; padding-left: 2rem;"><br>

                        <h6 class="color-gray"><b>• Databases</b> </h6>
                    </div>
                    <div class="row color-gray">

                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">MySQL</h6>

                        </div>
                        <div class="col-lg-1 box--hover ">
                            <h6 class="heading heading-h6 ">SQLite</h6>

                        </div>
                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">MongoDB</h6>

                        </div>
                    </div>

                    <div style="text-align: start; padding-left: 2rem;"><br>

                        <h6 class="color-gray"><b>• Version Control</b> </h6>
                    </div>
                    <div class="row color-gray">

                        <div class="col-lg-1  box--hover ">
                            <h6 class="heading heading-h6 ">Github</h6>
                        </div>
                        <div class="col-lg-1 box--hover ">
                            <h6 class="heading heading-h6 ">Git</h6>
                        </div>
                    </div>
                    <div style="text-align: start; padding-left: 2rem;"><br>

                        <h6 class="color-gray"><b>• More</b> </h6>
                    </div>
                    <div class="row color-gray">
                        <div class="col-lg-2  box--hover ">
                            <h6 class="heading heading-h6 ">Bluid project to host</h6>

                        </div>
                        <div class="col-lg-3  box--hover ">
                            <h6 class="heading heading-h6 ">Send mail API, Whatsapp API</h6>

                        </div>
                        <div class="col-lg-3 box--hover ">
                            <h6 class="heading heading-h6 ">Test API: postman, Thunder...</h6>
                        </div>
                    </div>
                    <div class="row color-gray">
                        <div class="col-lg-3  box--hover ">
                            <h6 class="heading heading-h6 ">Ability to cooperate in a team </h6>
                            
                        </div>
                        <div class="col-lg-5 box--hover ">
                            <h6 class="heading heading-h6 ">Ability to solve complex and unexpected problems </h6>
                        </div>
                    </div>

                </div>

                <!-- .....--------------experience------------ -->

                <div class="tabcontent fade" id="experience" role="tabpanel" aria-labelledby="experience-tab"
                    class=" col-md-6 col-12 ">

                    <div class="eperience_animation mt-4">
                        <!-- <div id="exper ">
                            <h4 class="maintitle ">Experiences</h4>
                            
                        </div> -->
                        {%for edu in education%}{%if edu.job_id == 3%}
                        <div style="text-align: start;">
                            <span class="subtitle color-gray"><b>{{edu.years}}</b></span>

                            <div class=" shadow-sm m-3 p-1 resume--box box--hover ">
                                <div class="resume-single-list m-4 ">
                                    <div class="inner ">
                                        <div class="heading ">
                                            <div class="title " style="padding-left: 2rem;">
                                                <h5 class="color-gray"><b>{{edu.name}}</b></h5>
                                                <span class="color-gray">• {{edu.title}} </span>
                                            </div>
                                            <!-- <div class="date-of-time ">
                                                <span>7.30$/1</span>
                                            </div> -->
                                        </div>
                                        <br>
                                        <p class="description ">{{edu.description}} (<a href="http://iater.org/"
                                                target="_blank" class="text-primary">iater.org</a>)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}{%endfor%}
                    </div>

                </div>

                <!-- -------------- Language --------- ------ -->
                <div class="tabcontent fade" id="language" role="tabpanel" aria-labelledby="language-tab"
                    class=" col-md-6 col-12 ">

                    <div class="eperience_animation mt-4">
                        <h5 style="text-align: start;" class="color-gray"> <b>Languages</b></h5>
                        <div class="row color-gray">

                            <div class="col-lg-1  box--hover ">
                                <h6 class="heading heading-h6 ">English</h6>
    
                            </div>
                            <div class="col-lg-1 box--hover ">
                                <h6 class="heading heading-h6 ">Chinese (basic)</h6>
    
                            </div>
                            <div class="col-lg-1  box--hover ">
                                <h6 class="heading heading-h6 ">Thai</h6>
    
                            </div>
                            <div class="col-lg-1  box--hover ">
                                <h6 class="heading heading-h6 ">Lao</h6>
    
                            </div>
                            <div class="col-lg-1  box--hover ">
                                <h6 class="heading heading-h6 ">Hmong</h6>
    
                            </div>
                            <div class="col-lg-1  box--hover ">
                                <h6 class="heading heading-h6 ">Korean (studying)</h6>
    
                            </div>
                        </div>
                    </div>

                </div>

                

            </div>
        </div>
    </div>


    <!-- ==== Accomplishments and awards ===== -->
    <div class="container text-center resume " id="award">
        <br><br>
        <div class="row ">
            <div>
                <div class="section-title text-center ">
                    <!-- <span class=" "></span>/ -->
                    <h2 class=" " style="text-align: end;">Accomplishments and awards</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 mb-2 mb-lg-0 box--hover">
                <img src="../media/media/picture/IMG-20230810-WA0027.jpg" class="w-100  shadow-1-strong cours2 inner shadow-sm "
                    alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-3 mb-2 mb-lg-0 box--hover" style="padding-top: 2rem;">
                <img src="../media/media/picture/receive-scholarship-LCK-2024.jpeg"
                    class="w-100 shadow-1-strong cours2 inner shadow-sm " alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-2 mb-lg-0 box--hover" style="height: 70vh;">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                    class="w-100 h-100 shadow-1-strong  cours2 inner shadow-sm " alt="Yosemite National Park" />
            </div>
            <div class="col-lg-3 mb-2 mb-lg-0 mt-4 box--hover" style="height: 60vh;">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                    class="w-100 h-50 shadow-1-strong  cours2 inner shadow-sm " alt="Yosemite National Park" />
                <div class="mt-4">

                    <a href="{%url 'myImage' %}" class="nav-link btn cou">See More Pictures..</a>
                </div>
            </div>
        </div>
    </div>


    </div>


    <!-- ================== my blog  ============ -->

    <div class="blog " id="blog">
        <br><br>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div data-aos-duration="500 " data-aos-delay="100 " data-aos-once="true "
                        class="section-title text-center ">
                        <span class="subtitle ">Visit my blog and keep your feedback</span>
                        <h2 class="title ">My Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row ">
                <!-- vStart Single blog -->
                {%for bl in blog%}
                <div class="col-lg-4 col-xl-3 col-md-6 col-12 mt-4 ">
                    <div class="row cours2 inner shadow-sm blog--box white-backgroud box--hover "
                        style="overflow:hidden; ">
                        <div class="text-center ">
                            <div class=" ">
                                <div class="thumbnail img--hover ">
                                    <a href="{% url 'detailBlog' bl.id%} ">
                                        <img class="hover Portfolio_Images2" src="{{bl.blog_pic.url}}">
                                    </a>
                                </div>
                                <a href="{% url 'detailBlog' bl.id%} ">
                                    <div class="cours3 col-12 ">
                                        <h4 class=" nav-link por--text ">{{bl.sub_blog}}</h4>
                                    </div>
                                </a>
                                <div class="content ">
                                    <div class="category-info m-lg-3 ">
                                        <a href="{% url 'detailBlog' bl.id%} "
                                            class="nav-link text--text ">{{bl.name_blog}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cours4 col-12 text-center ">
                            <a href="{% url 'detailBlog' bl.id%} " class=" nav-link cou ">View More</a>
                        </div>
                    </div>
                </div>{%endfor%}
                <!-- End Single blog -->

            </div>
        </div>
    </div>


    {%for profi in profile%}
    <!-- ================== my contect  ============ -->
    <div class="contact " id="contact">
        <br><br>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="section-title text-center ">

                        <h2 class="title ">Contact With Me</h2>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-5 ">

                    <div>
                        <div>
                            <img src="{{profi.profile_pic.url}} " onclick="onClick(this)"
                                style=" width: 350px; height: 150px; object-fit: cover; margin:0 auto; border-radius: 5px; "
                                alt="Personal Portfolio Images ">
                        </div>
                        <div>
                            <!-- <h4 class=" ">{{profi.location}}</h4> -->
                            <!-- <span>😉😉</span> -->
                        </div>
                        <div class="description ">
                            <p class="mt-3">{{profi.explain_me}}
                            </p>
                            <!-- <span class="phone ">Phone: <a href="tel:01941043264 ">+{{profi.phone}}</a></span>
                            <span class="mail ">Email: <a href="mailto:admin@example.com ">{{profi.email}}</a></span> -->
                            <p class="mt-4"><b><i class=" bi-telephone-fill"></i></b> +856 2098009597</p>

                            <p><b><i class=" bi-envelope"></i></b> odxyo54@gmail.com </p>
                            <p><b><i class=" bi-geo-alt"></i></b> Donkoi village, Sisattanak district, Vientiane Capital
                            </p>

                        </div>
                        <div class="social-area ">
                            <div class="name ">FIND WITH ME</div>
                            <div class="social-icone ">
                                <ul class="nav me-auto mb-2 mb-lg-0 ">
                                    <li class="nav">
                                        <a class="nav-link logo--me " aria-current="page " target="_blank"
                                            href="https://github.com/ayaoVA01"><i class=" bi-github  logo--me"></i></a>
                                    </li>
                                    <li class="nav">
                                        <a class="nav-link logo--me " aria-current="page " target="_blank"
                                            href="https://www.youtube.com/channel/UCeKoCMKou4WZ5T2hFaySZWg"><i
                                                class=" bi-youtube  logo--me"></i></a>
                                    </li>
                                    <li class="nav">
                                        <a class="nav-link  logo--me
                                        " target="_blank" aria-current="page "
                                            href="https://www.facebook.com/houa.odx "><i
                                                class="fa-brands fa-facebook  logo--me"></i></a>
                                    </li>
                                    <li class="nav">
                                        <a class="nav-link  logo--me" target="_blank" aria-current="page " href="# "><i
                                                class="fa-brands fa-whatsapp  logo--me"></i></a>
                                    </li>
                                    <!-- <li class="nav">
                                        <a class="nav-link  logo--me" target="_blank" href="# "><i
                                                class="fa-brands fa-instagram  logo--me"></i></a>
                                    </li> -->
                                    <li class="nav">
                                        <a class="nav-link logo--me " href="#" aria-current="page"><i
                                                class=" bi-tiktok  logo--me"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                {%if submitted%}
                <p class="text-danger ">Your new jobwas submitted Sucessfully!!</p>
                {%else%}

                <div class="col-lg-7  white-backgroud">

                    <div class="introduce ">
                        <form class="row " id="contact-form " method="POST" action="{% url 'send_whatsapp_message' %}"
                            enctype="multipart/form-data ">
                            {% csrf_token %}
                            <div class="col-lg-6 p-4">
                                <div class="form-group ">
                                    <label for="contact-name ">Your Name</label>
                                    <input class="form-control " name="name" id="contact-name " type="text " required>
                                </div>
                            </div>

                            <div class="col-lg-6 p-4">
                                <div class="form-group ">
                                    <label for="contact-phone ">Whatsapp number</label>
                                    <input class="form-control " name="phone" id="contact-phone " type="text " required>
                                </div>
                            </div>

                            <div class="col-lg-12 ">
                                <div class="form-group ">
                                    <label for="message ">Your Message</label>
                                    <textarea class="form-control form-control-sm " name="message" id="contact-message "
                                        cols="53 " rows="6 " required></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 ">
                                <button name="submit " type="submit" id="submit " class="rn-btn send--form ">
                                    <span>Send</span>
                                    <i data-feather="arrow-right"></i>
                                </button>
                            </div>

                            <p style="font-size: 12px; color: gray;">Your message will be sent to me on WhatsApp. Please
                                provide your WhatsApp number!</p>
                        </form>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
    </div>


    <div class="container section-title ">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="footer-area text-center ">

                    <div class="logo">
                        <a href="{%url 'index' %}">
                            <img src="{{profi.profile_pic.url}} " alt="logo " class="footer--logo ">
                        </a>
                    </div>

                    <p class="description mt--30 ">© 2024. All rights reserved by
                        <a target="_blank " href="https://www.facebook.com/houa.odx ">Mr Yao VA</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12 "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM "
        crossorigin="anonymous "></script>
    <script src="{%static 'js/main.js' %} "></script>
    <script src="{%static 'js/darkmode.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM "
        crossorigin="anonymous "></script>
    <!-- slide show -->
    <script src="{% static 'js/slideshows.js' %}"></script>


</body>